@(report: reports.ScaleReport, service: reports.ServiceReport, iterations: List[models.Iteration])

@import helper._

@main(title = "Metrics dashboard") {
	
	@flash.get("result")

    <h3>Scale Metrics</h3>
    <table class="table table-striped table-condensed">
    	<thead>
    		<tr>	
    			<th>Date</th><th>Portal Goal</th><th>Portal Actual</th><th>Han Goal</th><th>Han Actual</th>
    		</tr>
    	</thead>
    	<tbody>
	@for(row <- report.data) {
    		<tr>
    			<td>@row.month.format("yyyy/MM")</td>
    			<td>@row.portalGoal</td>
    			<td>@row.portalActual</td>
    			<td>@row.hanGoal</td>
    			<td>@row.hanActual</td>
    			<td><a class="btn btn-success" href="/scale/@row.id"><i class="icon-edit"> </i> Edit </a></td>
    		</tr>
	} 
    	</tbody>
    </table>
    <h3>Services Metrics</h3>
    <table class="table table-striped table-condensed">
    	<thead>
    		<tr>	
    			<th>Date</th><th>% Complete</th><th>% Goal</th><th>Avg Throughput</th><th>Throughput Goal</th>
    		</tr>
    	</thead>
    	<tbody>
	@for(row <- service.data) {
    		<tr>
    			<td>@row.month.format("yyyy/MM")</td>
    			<td>@row.percentComplete</td>
    			<td>@row.percentGoal</td>
    			<td>@row.avgThroughput</td>
    			<td>@row.throughputGoal</td>
    			<td><a class="btn btn-success" href="/service/@row.id"><i class="icon-edit"> </i> Edit </a></td>
    		</tr>
	} 
    	</tbody>
    </table>
    <p>
    	<a class="btn btn-success" href="/rally"><i class="icon-edit"> </i> Refresh Rally </a>
    </p>
    
    <h3>Current iteration burndowns</h3>
	    <table class="table table-striped table-condensed">
	@for(iter <- iterations) {
    		<tr>
    			<td>@iter.name</td>
    			<td>@iter.team.name</td>
    			<td><a class="btn btn-success" href="/burndown/@iter.id"><i class="icon-edit"> </i> Edit </a></td>
    		</tr>
	} 
	    </table>
}