@import helper._

@blank(title = "Test BB") {
		
		<div id="teams"></div>
		<script id="teamTemplate" type="text/template">
    		<h3><%= name %></h3>
			<h3><%= iterations[0] %></h3>
		</script>
	
		<form id="addTeam" action="#">
    		<label for="name">Name:</label><input id="name" />
   			<button id="add">Add</button>
		</form>
		
		<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.7.1.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/json2.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/underscore-min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/backbone-min.js")"></script>
	    <script type="text/javascript">
	        $(document).ready( function(){

	        	var allteams = [
	        	                { name: "first"},
	        	                { name: "second"},
	        	                { name: "third"},
	        	                { name: "forth"},
	        	                { name: "fifth"},
	        	                { name: "sixth"}
	        	            ];

		        
	            Team = Backbone.Model.extend({
	            	 defaults : {
	            		    name : ""
	            		  },
	            });
	            TeamCollection = Backbone.Collection.extend({
	            	url: '/teams',
	                model: Team, 
	                initialize: function(){
	                },
	                parse: function(data){
		                return data;
    	            }
	            });

	            TeamView = Backbone.View.extend({
	                tagName: "article",
	                className: "contact-container",
	                template: $("#teamTemplate").html(),
	                render: function () {
	                    var tmpl = _.template(this.template);
	                    this.$el.html(tmpl(this.model.toJSON()));
	                    return this;
	                }
	            });	            
	            TeamAllView = Backbone.View.extend({
	                el: $("#teams"),
	                events: {
	                    'click button#add': 'addTeam'
	                  },
	                initialize: function () {
	                    //this.collection = new TeamCollection(allteams);
	                    this.collection = new TeamCollection();
	                    _.bindAll(this, 'render', 'addTeam', 'appendTeam'); 
	                    this.collection.bind('add', this.appendTeam);
	                    var tc = this;
	                    this.collection.fetch({
	                    	  success: function(r) {
	                    		    tc.render();
	                    		  },
	                    		  error: function(r) {
	                    		    console.log('Unable to load team');
	                    		  }
	                    		});
	                },

	                addTeam: function() {
		                console.log("add team");
		                var team = new Team();
		                team.set({name: "bobo"});
		                this.collection.add(team);
		            },
	                appendTeam: function() {
		                console.log("append team");
		            },
		            
	                render: function () {
	                    var that = this;
	                    _.each(this.collection.models, function (item) {
	                        that.renderTeam(item);
	                    }, this);
	                },
	             
	                renderTeam: function (item) {
	                    var teamView = new TeamView({
	                        model: item
	                    });
	                    this.$el.append(teamView.render().el);
	                }
	            });

	            // Create a view once the document has loaded
            	var teamAll = new TeamAllView();
	        })
	    </script>
	    
}

