@(report: reports.ThroughputReport)

@rcontainer(title="Services") {
    
   <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawVisualization);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawVisualization() {

		  // Create and populate the data table.
		  var data = google.visualization.arrayToDataTable([
		    ['Month', 'Goal', 'Actual'],

	   	    @for(row <- report.data) {
    	    	[ '@row.month.format("yyyy/MM")', @row.throughputGoal, @row.avgThroughput ],
    	    } 
		    
		  ]);

		  // Create and draw the visualization.
		  new google.visualization.ColumnChart(document.getElementById('chart_div-@report.title')).
		      draw(data, {legend: {position: 'top'},
		    	  vAxes: {
		    	      0: {title: "RoundTrip (ms)", maxValue: "500"},
		    	    }, colors:['blue','green'], width:500, height:300} );

    	}
	</script>    
    <h3> @report.title</h3>
    <div id="chart_div-@report.title"></div>
}